<div class='stock-card'>
  <h2 class='symbol'>{{ stock.symbol }}</h2>
  <table class='recommendation-table'>
    <thead class="header">
      <tr class="line">
        <th>Date</th>
        <th>Price</th>
        <th *ngFor="let socialMedia of socialMedias">{{ socialMedia }}</th>
        <th>Recommendation</th>
      </tr>
    </thead>
    <tbody class="body">
      <tr *ngFor="let recommendation of stock.recommendations" class="line">
        <td class='cell'>{{ recommendation.date | date:"MM/dd/yy" }}</td>
        <td class='cell'>{{ recommendation.price | currency }}</td>
        <td class='cell' *ngFor="let socialMedia of recommendation.socialMediasCounts">{{ socialMedia.count }}</td>
        <td class='cell'>{{ recommendation.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
