@import 'src/styles/settings';

.stock-card {
  box-shadow: $card-shadow;
  display: flex;
  flex-direction: column;
  padding: $space-normal $space-big;

  & > .symbol {
    width: 100%;
    text-align: center;
    padding: $space-normal;
    font-size: $font-size-medium;
    color: $pink;
    font-weight: $font-weight-semi-bold;
    border-bottom: solid 2px $pink;
    margin-bottom: $space-normal;
  }
}

.recommendation-table {
  & > .body {

    text-align: center;
    font-size: $font-size-normal;

    & > .line {
      &:nth-child(even) {
        background-color: rgba($grey-20, .30);
      }

      & > .cell {
        padding: $space-small;
      }
    }
  }
}

.recommendation-status {
  padding: $space-mini $space-small;
  border-radius: 2px;
  font-weight: $font-weight-semi-bold;
  color: $white;
  font-size: $font-size-small;

  &.-green {
    background-color: $green;
  }
  &.-orange {
    background-color: $orange;
  }
  &.-blue {
    background-color: $blue;
  }
}
