@import 'src/styles/settings';

.stock-card {
  box-shadow: $card-shadow;
  display: flex;
  flex-direction: column;
  padding: $space-normal $space-big;

  & > .symbol {
    width: 100%;
    text-align: center;
    padding: $space-normal;
    font-size: $font-size-medium;
    color: $orange;
    font-weight: $font-weight-semi-bold;
    border-bottom: solid 2px $orange;
    margin-bottom: $space-normal;
  }
}

.recommendation-table {
  & > .body {

    text-align: center;
    font-size: $font-size-normal;

    & > .line {
      &:nth-child(even) {
        background-color: rgba($grey-20, .30);
      }

      & > .cell {
        padding: $space-small;
      }
    }

  }
}
