@import 'src/styles/settings';

.stock-search {
  box-shadow: $card-shadow;
  padding: $space-medium $space-normal;
  position: relative;
  margin-bottom: $space-small;
  max-width: 500px;

  & > .form {
    & > .label {
      display: block;
      font-size: $font-size-small;
      margin-bottom: $space-mini;
    }

    & > .input {
      font-size: $font-size-medium;
      padding: $space-small;
      margin-right: $space-small;
    }
  }
}

.time-window {
  text-align: right;
  font-size: $font-size-small;
  position: absolute;
  right: 0;
  top: 0;
  padding: $space-medium $space-normal;

  & > .date {
    & + .date {
      &::before {
        content: "-";
        text-align: center;
        padding: 0 $space-small;
      }
    }
  }
}
