<div class="stock-search">
  <form [formGroup]="stockSearchForm" (ngSubmit)="searchStock()" class="form">
    <label class="label">Stock symbol</label>
    <input #input type="text" formControlName="stockSymbol" class="input">
    <app-button [label]="'find'"></app-button>
  </form>
  <div class="time-window">
    <span class="date">{{ beginDate | date:"MM/dd/yy" }}</span>
    <span class="date">{{ endDate | date:"MM/dd/yy" }}</span>
  </div>
</div>
<app-stock-recommender *ngIf="stock" [stock]='stock' [socialMedias]='socialMedias'></app-stock-recommender>
